/*GENERAL*/

* {
    box-sizing: border-box;
}

#container {
    max-width: 500px;
    width: 100%;
    margin: auto;
    
}

a {
    text-decoration: none;

}

h1,h2,h3 {
    font-family: Roboto;
}
h4 {
    font-family: 'Shrikhand', cursive;
    font-size: large;
}
p {
    font-family: Roboto;
    font-size: large;
}
h1 {
    margin-top: -1%;
}

/* /////////////// HEADER ///////////////*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
}

header figure img {
    height:40px ;
    display: flex;
    justify-content: center;
    width: 9rem;
    
    
}

#Button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color:#e8e8e8f7;
    margin-bottom: 1%;
    border-top: 2px solid #a9a2a2;
}

input {
    border: 0px solid transparent;
    background-color:#ecececf7;
    margin-left: 3%;
    font-weight: bolder;
    
}
#Button .fa-solid {
    margin-left: 20px;
    
}

#Fondgris { 
    padding: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbf9f9;
    flex-direction: column;
    margin-top: -2%;
}
#Trouvermenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}

#BoutonRose {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to top, rgba(147, 86, 220, 0.9 ), rgba(255, 121, 218, 0.9));
    width: 83%;
    border-radius: 2rem;
    margin-top: 2%;
    min-height: 3.5rem;
    color: #F2F2F2;
    border: none;
    box-shadow: 2px 1px 8px -3px #000000;
    transition:transform(100ms);
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    animation: apparition 2s;
    animation-fill-mode: backwards;
    
}
#BoutonRose:hover {   
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    }

#Trouvermenu p {
    height: 20px;
}

#Fondblanc { 
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:white;
}

h2 
{
    font-size: x-large; 
}
#Secondepartie {
    
    padding: 3%;
}

.Cartouche {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 22px;
    padding: 1%;
    margin-bottom: 8%;
    width: 93%;
    background-color:#fbf9f9;
    box-shadow: 2px 1px 16px -3px #9b9b9b;
    cursor: pointer;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    animation: apparition 2s;
    animation-fill-mode: backwards;
}
.Cartouche:hover {   
background-color: #f2eafb;
-webkit-transform: scale(1.02);
transform: scale(1.02);
}

.CercleViolet {
    background-color: #9356DC;
    height: 20px; 
	width: 20px; 
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: white;
    border: none;
    margin-left: -20px;
}
.Cartouche p {
    margin-left: 10%;
    font-weight: bolder;
}


/* ////////MAIN///////////////*/ 
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
h2 {
    width: 100%;
}
section h2 {
    margin-top: 10%;
}
main figure {
    width: 99%;
    border-radius: 15px;
    background-color: white;
    margin: 3%;
    box-shadow: 2px 1px 16px -3px #9c9c9c;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    animation: apparition 2s;
    animation-fill-mode: backwards;
}
figure:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

main figure img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
#LesRestaurants {
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fbf9f9;
    
}

main figcaption {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 1%;
    background-color: white;
}   
.New {
    content: "Nouveau";
    position: absolute;
    height: 25px;
    width: 80px;
    background-color:#99E2D0;
    color: rgb(4, 137, 4);
    right:40px;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    
}
#LesRestaurants {
    max-width: 2000px;
    width: 100%;
}
#Secondeparti {
    width: 90%;

}
.Description {
    margin-left: 4%;
    margin-top: -10px;
    height: 5rem;
    
}
.Description p {
    margin-top: -10px;
}
/*///////Footer////////*/ 

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer img {
    width: 50%;
}
#Fondgrisfoncée {
    width: 100%;
    background-color: rgb(72, 72, 72);
    padding:3%;
}
h4 {
    color: white;
    font-weight: lighter;
}
footer p {
    color: white;
}
footer #Fondgrisfoncée div {
    align-items: center;
    justify-content: flex-start;
    color: white;
    margin: 2px;
}
.lienimage {
    display: flex;
}
#Restaurateur {
    width: 100%;
    margin-left: -15px;
}


/* tablette Version */ 

@media screen and (min-width:550px) and (max-width:750px) { 
header {
    width: 40rem;
}

}
@media screen and (min-width:750px) and (max-width:3000px) {
    header figure img {
        height:50px ;
        display: flex;
        justify-content: center;
        width: 14rem;
        
        
    }
    button {
        height: 70px;
    }
    #Fondblanc {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        background-color: white;
        }
    #Restaurateur {
        display: flex;
        width: 100%;
        padding: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #Fondblanc {
        height: 50%;
    }
    .Cartouche {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 30px;
        padding: 1%;
        margin-bottom: 8%;
        width: 93%;
        background-color: #F2F2F2;
        box-shadow: 2px 1px 16px -3px #5f5f5f;
        cursor: pointer;
        margin: 10px;

    }
    
    .New {
        right:auto}
}

@media screen and (min-width:933px) and (max-width:3000px) {
    .New {
        content: "Nouveau";
        position: absolute;
        height: 25px;
        width: 80px;
        background-color:#99E2D0;
        color: rgb(4, 137, 4);
        right:none;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;}
    }

/* loader */ 
    .loader {
        background-color: #ffff;
        height: 100vh;
        position: fixed;
        display: grid;
        place-items: center;
        inset: 0;
        z-index: 1;
        opacity: 0.8;
        animation: loading 200ms 2s forwards;
        -webkit-animation: loading 200ms 2s forwards;
        animation-fill-mode: forwards;
        animation-duration: 3s;
}
.loader::after
{
    content: "";
    height: 100px;
    width: 100px;
    border: 5px solid transparent;
    border-top:5px solid rgba(255, 121, 218, 0.9);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation:spin;
    -webkit-animation:spin 2s infinite;
}

@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); }
}

@keyframes loading {
        0% {
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
}
        100% {
            transform: scale(0);
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
}
}
/* animation apparition */ 

@keyframes apparition {
    0%{
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
    100%{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
}

    /*coeur animation/*/ 
    .far {
        left: 10px;
        margin-right: -4px;

    }
    
    .plein {
        background: linear-gradient(rgba(147, 86, 220, 0.9 ), rgba(255, 121, 218, 0.9));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        margin-left: -16px; 
    }
    .coeur:hover .plein {
        opacity: 1;

    }
    
    
    

    
    
    
    /*
    
}
    @keyframes spin{
        0%{ transform: rotate(0deg);}
        100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); }
    }

.fa-heart:hover{
    cursor: pointer;
    background-color:linear-gradient(to top, rgba(147, 86, 220, 0.9 ), rgba(255, 121, 218, 0.9));
}

/*